section {
    padding: 30px 50px;
}
.around {
    margin: 0 35px;
}
.head-blok {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

* img {
    width: 100%;
}
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}   
* h2{
    color: #767676;
    font-weight: 700;
    font-size: 24px;
}
* h3 {
    font-weight: 500;
    font-size: 20px;
    color: #212121;
}
* h4{
    color: #767676;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    border-left: 4px solid #B0A00A;;  
}
* h5{
    color: white;
    padding: 10px 0 0 0;
}
* h6{
    color: white;
    font-weight: 700;
    font-size: 24px;
}
* p{
    font-weight: 400;
    font-size: 16px;
    color: #4A4A4A;
}
.head-blok-photo1 { grid-area: 1 / 1 / 3 / 3; }
.politics_blocs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    }
    
.politics_bloc-1 { grid-area: 1 / 1 / 2 / 2; }
.politics {
    border-left: 4px solid #B0A00A;
    margin: 0 52px;
}
.politics-lines {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    }
    
.line-1 { grid-area: 1 / 1 / 2 / 2; }
.last-news {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    display: flex;
    }
/*     
    .news-photo { grid-area: 1 / 1 / 2 / 2; }
    .news-column { grid-area: 1 / 2 / 2 / 3;}
    .red-line{
    background-color: red;
    }
    .grey-line{
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    background-color: gray;
    }
    .black-line{
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    background-color: black;    
} */
.news-block {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    }
    
.news-photo {
    background-image: url(img/Rectangle\ 12.png);
    background-size: cover;

}
.news-list { grid-area: 1 / 2 / 2 / 3; }
.news-list-header{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}
.news-line-black {
    background-color: black;
}
.news-line-gray {
    background-color: gray;
}
.news-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.news-cirkle {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 100%;
    color: white;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-list li{
    padding: 20px 0;
    list-style: none;
}
.news-line h5{
    width: 60%;
    font-weight: 600;
    font-size: 16px;
}
.logo {
    width: 150px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    padding: 0 10px;
}
.head-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 103px;
    height: 66px;
    background-color: black;
    }
.links a{
    color: white;
    text-decoration: none;
    padding: 0 16px;
}
.end {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    }  
.end-links {
    padding: 0 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.end-links a{
    font-weight: 600;
    font-size: 14px;
}
.end-links-line a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0 16px 0 0;
}
.end-links-line {
 padding: 0 0 16px 0;
}
.end-line-gray {
    background-color: gray;
    padding: 0 0 0 123px;
}
.end-line p{
    color: white;
    padding: 0 16px 0 0;
}
.end-line {
    display: flex;
    align-items: flex-start ;
}
.end-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.mobile-news-line {
    display: none;
}
.mobile-h4 {
    display: none;
}
@media(max-width: 960px){
    .head-blok {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        }
            
    .head-blok-photo1 { grid-area: 1 / 1 / 3 / 3; }
    
    .politics-lines {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        }
        
    .line-1 { grid-area: 1 / 1 / 2 / 2; }
    .news-photo {
        background-image: url(img/Rectangle\ 14.png);
        background-size: cover;
    }
    .news-cirkle {
        display: none;
    }
    .news-list-header{
        background-color: red;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 20px;}
        .end-line-gray {

            background-color: gray;
            padding: 0 0 0 16px;
        }
        .mobile-news-line {
            display: none;
        }
        .mobile-h4 {
            display: none;
        }
}
@media(max-width: 460px){
    .links {
        display: none;
    }
    .politics_blocs img{
        display: none;
    }
    .politics {
        display: none;
    }
    .mobile-news-line {
        display: block;
    }
    .politics_blocs {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
    }
    * section {
        padding: 0 16px;
    }
    * p {
        display: none;
    }
    .mobile-h4 {
        display: block;
    }
    * h4 {
        padding: 0 5px 0 0;
    }
    .politics-lines {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
    .line-1 { grid-area: 1 / 1 / 2 / 2; }
    .news-photo {
        display: none;
    }
    .news-list {
        width: 100%;
        grid-area: 1 / 1 / 2 / 3;
    }
    .end-links {
        justify-content: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0 40px 0;
    }
    .end-links h6{
        padding: 10px 0;
    }
    .links {
        padding: 0 0 40px 0;
    }
    .links a{
        margin: 15px 0;
    }
    .end{
        margin: 10px 0 0;
    }
    .end-links-line {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
    .end-line {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
    .head-blok {
        grid-template-rows: 1fr;
        margin: 0 0 30px;
    }
    .head-blok div {
        display: none;
    }
    .head-blok div:first-child {
        display: block;
    }


}